page-unviel {
    .background-img-card{

    }
    .unspl-img-card{
        img{
            height:600px;
            background-color:#eee;
            background-image: url(/assets/img/ripple.gif);
            background-size: 50px 50px;
            background-position: center center;
        }
        .label-md{
            margin-right:0px;
        }
    }
    
}
